@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin-regular.eot");
  src: local(""),
    url("../fonts/open-sans-v34-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin-regular.woff") format("woff"),
    url("../fonts/open-sans-v34-latin-regular.ttf") format("truetype"),
    url("../fonts/open-sans-v34-latin-regular.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v34-latin-700.eot");
  src: local(""),
    url("../fonts/open-sans-v34-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/open-sans-v34-latin-700.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin-700.woff") format("woff"),
    url("../fonts/open-sans-v34-latin-700.ttf") format("truetype"),
    url("../fonts/open-sans-v34-latin-700.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v34-latin-600.eot");
  src: local(""),
    url("../fonts/open-sans-v34-latin-600.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/open-sans-v34-latin-600.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin-600.woff") format("woff"),
    url("../fonts/open-sans-v34-latin-600.ttf") format("truetype"),
    url("../fonts/open-sans-v34-latin-600.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/open-sans-v34-latin-800.eot");
  src: local(""),
    url("../fonts/open-sans-v34-latin-800.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/open-sans-v34-latin-800.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin-800.woff") format("woff"),
    url("../fonts/open-sans-v34-latin-800.ttf") format("truetype"),
    url("../fonts/open-sans-v34-latin-800.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin-italic.eot");
  src: local(""),
    url("../fonts/open-sans-v34-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/open-sans-v34-latin-italic.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin-italic.woff") format("woff"),
    url("../fonts/open-sans-v34-latin-italic.ttf") format("truetype"),
    url("../fonts/open-sans-v34-latin-italic.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/open-sans-v34-latin-600italic.eot");
  src: local(""),
    url("../fonts/open-sans-v34-latin-600italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/open-sans-v34-latin-600italic.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin-600italic.woff") format("woff"),
    url("../fonts/open-sans-v34-latin-600italic.ttf") format("truetype"),
    url("../fonts/open-sans-v34-latin-600italic.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/open-sans-v34-latin-700italic.eot");
  src: local(""),
    url("../fonts/open-sans-v34-latin-700italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/open-sans-v34-latin-700italic.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin-700italic.woff") format("woff"),
    url("../fonts/open-sans-v34-latin-700italic.ttf") format("truetype"),
    url("../fonts/open-sans-v34-latin-700italic.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/open-sans-v34-latin-800italic.eot");
  src: local(""),
    url("../fonts/open-sans-v34-latin-800italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/open-sans-v34-latin-800italic.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin-800italic.woff") format("woff"),
    url("../fonts/open-sans-v34-latin-800italic.ttf") format("truetype"),
    url("../fonts/open-sans-v34-latin-800italic.svg#OpenSans") format("svg");
}

.root {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.background {
  margin: 0;
  width: 100%;
  height: 688px;
  z-index: -1;
  position: absolute;
  top: 0;
  background-color: #f6f2f2;
  color: #f6f2f2;
}

/* header */
header {
  margin: 29px auto 101px;
  padding: 0 1em;
  box-sizing: border-box;
  width: 1249px;
  min-height: 89px;
  background-color: rgb(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
}

.menu {
  margin: 0 0 0 -4%;
  padding: 0;
  box-sizing: border-box;
  width: 480px;
  min-height: 89px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu__item {
  display: flex;
  height: 89px;
  align-items: stretch;
}

.menu__link {
  margin: 0;
  padding: 38px 23px 26px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #e0e0e0;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__link:hover {
  background-color: #ff3f40;
  transition: 0.3s ease;
}

.menu__link_activ {
  background-color: #ff3f40;
  width: 90px;
}

/* intro */
.intro {
  margin: 0 auto 218px;
  padding: 0;
  box-sizing: border-box;
  width: 1253px;
  min-height: 359px;
  display: flex;
  justify-content: space-between;
}

.intro__info {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.intro__heading {
  margin: -13px 0 19px 1px;
  padding: 0;
  box-sizing: border-box;
  font-size: 60px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #000;
}

.intro__heading_wide {
  letter-spacing: 6px;
}

.intro__text {
  margin: 0 0 56px;
  padding: 0;
  box-sizing: border-box;
  max-width: 545px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

.intro__button {
  margin: 0;
  padding: 11px 0 0 0;
  box-sizing: border-box;
  border-radius: 5px;
  width: 227px;
  height: 55px;
  background-color: #ff2d2d;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.32px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.intro__video {
  width: 551px;
  height: 356px;
  object-fit: cover;
  box-shadow: -2.2px -13.8px 73px rgb(0, 0, 0, 0.29);
}

/* services */
.services {
  margin: 0 auto 104px;
  padding: 0;
  box-sizing: border-box;
  border-bottom: solid 2px #ececec;
  width: 1253px;
  min-height: 589px;
  display: flex;
  justify-content: space-between;
}

.services__info {
  margin: 0 1px;
  padding: 0 0 1em;
  width: 539px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.services__heading {
  margin: -13px 0 33px;
  padding: 0;
  box-sizing: border-box;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.31;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: #000;
}

.services__text {
  margin: 0 0 20px;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

.services__button {
  margin: 37px 0 0 0;
  padding: 11px 0 0 0;
  box-sizing: border-box;
  border: solid 1px #ff2d2d;
  border-radius: 5px;
  width: 227px;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.0001);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.32px;
  color: #ff2d2d;
  text-align: center;
  text-decoration: none;
}

.services__list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 650px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  justify-content: end;
  align-items: baseline;
}

.servises__item {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 300px;
}

.services__title {
  margin: 0 0 33px;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.27px;
  color: #000;
}

.servises__item_icon_managment::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/managment.svg);
  background-repeat: no-repeat;
  margin: 0 0 33px;
}

.servises__item_icon_design::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/design.svg);
  background-repeat: no-repeat;
  margin: 0 0 33px;
}

.servises__item_icon_logo::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  margin: 0 0 33px;
}

.servises__item_icon_animation::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/animation.svg);
  background-repeat: no-repeat;
  margin: 0 0 33px;
}

/* portfolio */
.portfolio {
  margin: 0 auto 122px;
  padding: 0;
  box-sizing: border-box;
  width: 1253px;
  min-height: 930px;
}

.portfolio__header {
  margin: 0 auto 89px;
  padding: 0 1em;
  max-width: 537px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__heading {
  margin: -13px 0 13px;
  padding: 0;
  box-sizing: border-box;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.31;
  letter-spacing: 0.38px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.portfolio__text {
  margin: 0 0 28px;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  text-align: center;
  color: #000000;
}

.portfolio__hr {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  width: 134px;
  height: 2px;
  background-color: #ff2d2d;
  align-self: center;
}

.filter {
  margin: 0 auto 58px;
  padding: 0 1em;
  width: 922px;
  min-height: 24px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 56px;
}

.filter__link {
  margin: -13px 0 13px;
  padding: 0;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.09;
  letter-spacing: 0.22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.filter__link_activ {
  color: #ff2d2d;
}

.filter__link:hover {
  color: #ff3f40;
  transition: 0.3s ease;
}

.products {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.products__sample {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  width: 298px;
  height: 292px;
  object-fit: cover;
  object-position: 48% 50%;
}

/* about team */
.about {
  margin: 0 auto 107px;
  padding: 0;
  box-sizing: border-box;
  width: 1253px;
  min-height: 709px;
}

.about__header {
  margin: 0 0 19px;
  padding: 0;
  max-width: 450px;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.about__heading {
  margin: -13px 0 19px;
  padding: 0;
  box-sizing: border-box;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.31;
  letter-spacing: 0.38px;
  text-transform: uppercase;
  text-align: left;
  color: #000;
}

.about__text {
  margin: 0 0 31px;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  text-align: left;
  color: #000000;
}

.about__hr {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  width: 134px;
  height: 2px;
  background-color: #ff2d2d;
  align-self: baseline;
}

.team {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

.team__leader-photo {
  margin: 0 70px 0 0;
  padding: 0;
  box-sizing: border-box;
  width: 320px;
  height: 460px;
  object-fit: contain;
  object-position: bottom;
  background-color: #ff3f40;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.team__leader-info {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 930px;
  min-height: 230px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.team__leader-name {
  margin: 7px 0 17px;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.31;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  text-align: left;
  color: #000;
}

.team__leader-text {
  margin: 0 0 37px;
  padding: 0;
  box-sizing: border-box;
  max-width: 640px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  text-align: left;
  color: #000000;
}

.team__leader-links {
  margin: 0 0 25px;
  padding: 0;
  box-sizing: border-box;
  max-width: 930px;
  min-height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 29px;
}

.team__leader-link {
  margin: 0 0 31px;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
  line-height: 1.75;
  letter-spacing: 0.9px;
  text-align: left;
  color: #000000;
}

.team__leader-link:hover {
  color: #ff3f40;
  transition: 0.3s ease;
}

.team__members {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 930px;
  min-height: 230px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  align-items: baseline;
  justify-content: end;
  gap: 19px;
}

.team__member {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 199px;
  height: 214px;
  position: relative;
  background-color: #ff3f40;
}

.team__member-name {
  margin: 0;
  padding: 8px 0 0;
  box-sizing: border-box;
  width: 100%;
  height: 37px;
  position: absolute;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  visibility: hidden;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.31;
  letter-spacing: 0.17px;
  text-transform: uppercase;
  color: #ffffff;
}

.team__member:hover > .team__member-name {
  visibility: visible;
}

.team__member-photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
}