@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin-regular.eot");
  src: local(""),
    url("../fonts/open-sans-v34-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin-regular.woff") format("woff"),
    url("../fonts/open-sans-v34-latin-regular.ttf") format("truetype"),
    url("../fonts/open-sans-v34-latin-regular.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v34-latin-700.eot");
  src: local(""),
    url("../fonts/open-sans-v34-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/open-sans-v34-latin-700.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin-700.woff") format("woff"),
    url("../fonts/open-sans-v34-latin-700.ttf") format("truetype"),
    url("../fonts/open-sans-v34-latin-700.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v34-latin-600.eot");
  src: local(""),
    url("../fonts/open-sans-v34-latin-600.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/open-sans-v34-latin-600.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin-600.woff") format("woff"),
    url("../fonts/open-sans-v34-latin-600.ttf") format("truetype"),
    url("../fonts/open-sans-v34-latin-600.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/open-sans-v34-latin-800.eot");
  src: local(""),
    url("../fonts/open-sans-v34-latin-800.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/open-sans-v34-latin-800.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin-800.woff") format("woff"),
    url("../fonts/open-sans-v34-latin-800.ttf") format("truetype"),
    url("../fonts/open-sans-v34-latin-800.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin-italic.eot");
  src: local(""),
    url("../fonts/open-sans-v34-latin-italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/open-sans-v34-latin-italic.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin-italic.woff") format("woff"),
    url("../fonts/open-sans-v34-latin-italic.ttf") format("truetype"),
    url("../fonts/open-sans-v34-latin-italic.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/open-sans-v34-latin-600italic.eot");
  src: local(""),
    url("../fonts/open-sans-v34-latin-600italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/open-sans-v34-latin-600italic.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin-600italic.woff") format("woff"),
    url("../fonts/open-sans-v34-latin-600italic.ttf") format("truetype"),
    url("../fonts/open-sans-v34-latin-600italic.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/open-sans-v34-latin-700italic.eot");
  src: local(""),
    url("../fonts/open-sans-v34-latin-700italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/open-sans-v34-latin-700italic.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin-700italic.woff") format("woff"),
    url("../fonts/open-sans-v34-latin-700italic.ttf") format("truetype"),
    url("../fonts/open-sans-v34-latin-700italic.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/open-sans-v34-latin-800italic.eot");
  src: local(""),
    url("../fonts/open-sans-v34-latin-800italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/open-sans-v34-latin-800italic.woff2") format("woff2"),
    url("../fonts/open-sans-v34-latin-800italic.woff") format("woff"),
    url("../fonts/open-sans-v34-latin-800italic.ttf") format("truetype"),
    url("../fonts/open-sans-v34-latin-800italic.svg#OpenSans") format("svg");
}

.root {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

/* header */
.header {
  margin: 29px auto 101px;
  padding: 0 1em;
  box-sizing: border-box;
  width: 1249px;
  min-height: 89px;
  position: absolute;
  top: 0;
  background-color: rgb(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1270px) {
  .header {
    margin: 29px -1em 101px;
    width: 100%;
  }
}

.menu {
  margin: 0 0 0 -4%;
  padding: 0;
  box-sizing: border-box;
  width: 480px;
  min-height: 89px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
}
.menu__item {
  display: flex;
  height: 89px;
  align-items: stretch;
}

.menu__link {
  margin: 0;
  padding: 38px 23px 26px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #e0e0e0;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__link:hover {
  background-color: #ff3f40;
  transition: 0.3s ease;
}

.menu__link_active {
  background-color: #ff3f40;
}

.burger-button {
  margin: 0;
  padding: 0;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 800px) {
  .burger-button {
    display: flex;
  }

  .menu {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 180px;
    height: 300px;
    background-color: rgb(0, 0, 0, 0.8);
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 89px;
    right: 0px;
    z-index: 1;
    display: none;
  }

  .menu_active {
    display: flex;
  }

  .menu__item {
    height: 74px;
  }

  .menu__link {
    padding: 28px 23px 20px;
    width: 100%;
  }
}

.burger-button__line {
  margin: 0;
  padding: 0;
  width: 35px;
  height: 5px;
  border-radius: 3px;
  background-color: #b8b8b8;
}

.burger-button__line1_change {
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  width: 45px;
  transition: transform 0.4s ease-in-out;
}

.burger-button__line2_change {
  transform: scaleY(0);
  transition: transform 0.2s ease-in-out;
}

.burger-button__line3_change {
  transform: rotate(-45deg);
  transform-origin: 0% 100%;
  width: 45px;
  transition: transform 0.4s ease-in-out;
}

.overlay_active {
  width: 100vw;
  height: calc(100vh - 89px);
  background-color: #2c2c2c;
  opacity: 50%;
  position: fixed;
  top: 89px;
  display: none;
}

.overlay_active {
  display: flex;
}

/* intro */
.intro {
  margin: 0 0 108px;
  padding: 0 1em;
  box-sizing: border-box;
  width: 100%;
  min-height: 688px;
  position: relative;
  background-color: #f6f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.intro__info {
  margin: 219px 0 0;
  padding: 0;
  max-width: 700px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.intro__heading {
  margin: -13px 0 19px 1px;
  padding: 0;
  box-sizing: border-box;
  font-size: 60px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #000;
}

.intro__heading_wide {
  letter-spacing: 6px;
}

.intro__text {
  margin: 0 0 56px;
  padding: 0;
  box-sizing: border-box;
  max-width: 545px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

.intro__button {
  margin: 0;
  padding: 11px 0 0 0;
  box-sizing: border-box;
  border-radius: 5px;
  width: 227px;
  height: 55px;
  background-color: #ff2d2d;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.32px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.intro__video {
  margin: 219px 0 20px;
  width: 551px;
  height: 356px;
  object-fit: cover;
  box-shadow: -2.2px -13.8px 73px rgb(0, 0, 0, 0.29);
}

@media screen and (max-width: 1299px) {
  .intro {
    justify-content: space-between;
  }

  .intro__info {
    max-width: 555px;
  }
}

@media screen and (max-width: 1260px) {
  .intro__info {
    max-width: 45vw;
  }

  .intro__heading {
    font-size: 5vw;
  }

  .intro__video {
    width: 45vw;
    height: 29vw;
  }
}

@media screen and (max-width: 800px) {
  .intro {
    justify-content: center;
  }

  .intro__info {
    max-width: 90vw;
    align-items: center;
  }

  .intro__heading {
    text-align: center;
    font-size: 45px;
  }

  .intro__video {
    margin-top: 50px;
    width: 90vw;
    height: 58vw;
    max-width: 551px;
    max-height: 356px;
  }
}

@media screen and (max-width: 450px) {
  .intro__heading {
    font-size: 9vw;
  }
}

/* services */
.services {
  margin: 0 auto 104px;
  padding: 0 1em;
  border-bottom: solid 2px #ececec;
  max-width: 1253px;
  min-height: 589px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__info {
  margin: 0 1px;
  padding: 0 0 1em;
  width: 539px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.services__heading {
  margin: -13px 0 33px;
  padding: 0;
  box-sizing: border-box;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.31;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: #000;
}

.services__text {
  margin: 0 0 20px;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

.services__button {
  margin: 37px 0 0 0;
  padding: 11px 0 0 0;
  box-sizing: border-box;
  border: solid 1px #ff2d2d;
  border-radius: 5px;
  width: 227px;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.0001);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.32px;
  color: #ff2d2d;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.services__list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 650px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  justify-content: end;
  align-items: baseline;
}

.services__item {
  margin: 0;
  padding: 0 0 0 1em;
  box-sizing: border-box;
  width: 304px;
}

.services__title {
  margin: 33px 0 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.27px;
  color: #000;
}

.services__item_icon_managment::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/managment.svg);
  background-repeat: no-repeat;
  margin: 0;
}

.services__item_icon_design::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/design.svg);
  background-repeat: no-repeat;
  margin: 0;
}

.services__item_icon_logo::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  margin: 0;
}

.services__item_icon_animation::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/animation.svg);
  background-repeat: no-repeat;
  margin: 0;
}

@media screen and (max-width: 1240px) {
  .services {
    justify-content: center;
  }

  .services__list {
    margin-top: 20px;
  }
}

@media screen and (max-width: 675px) {
  .services__heading {
    font-size: 6vw;
  }

  .services__list {
    justify-content: center;
  }

  .services__item {
    width: 80vw;
    padding: 0;
  }
}

/* portfolio */
.portfolio {
  margin: 0 auto 122px;
  padding: 0;
  box-sizing: border-box;
  width: 1253px;
  min-height: 930px;
}

.portfolio__header {
  margin: 0 auto 89px;
  padding: 0 1em;
  max-width: 537px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__heading {
  margin: -13px 0 13px;
  padding: 0;
  box-sizing: border-box;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.31;
  letter-spacing: 0.38px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.portfolio__text {
  margin: 0 0 28px;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  text-align: center;
  color: #000000;
}

.portfolio__hr {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  width: 130px;
  height: 2px;
  background-color: #ff2d2d;
  align-self: center;
}

.filter {
  margin: 0 auto 58px;
  padding: 0 1em;
  width: 922px;
  min-height: 24px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 56px;
}

.filter__link {
  margin: -13px 0 13px;
  padding: 0;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.09;
  letter-spacing: 0.22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.filter__link_active {
  color: #ff2d2d;
}

.filter__link:hover {
  color: #ff3f40;
  transition: 0.3s ease;
}

.products {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.products__sample {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  width: 298px;
  height: 292px;
  object-fit: cover;
  object-position: 48% 50%;
  cursor: pointer;
}

.products__sample:hover {
  box-shadow: -5px -15px 55px rgb(0, 0, 0, 0.4);
}

/* about team */
.about {
  margin: 0 auto 95px;
  padding: 0;
  box-sizing: border-box;
  width: 1253px;
  min-height: 709px;
}

.about__header {
  margin: 0 0 19px;
  padding: 0;
  max-width: 450px;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.about__heading {
  margin: -13px 0 19px;
  padding: 0;
  box-sizing: border-box;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.31;
  letter-spacing: 0.38px;
  text-transform: uppercase;
  text-align: left;
  color: #000;
}

.about__text {
  margin: 0 0 31px;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  text-align: left;
  color: #000000;
}

.about__hr {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  width: 130px;
  height: 2px;
  background-color: #ff2d2d;
  align-self: baseline;
}

.team {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

.team__leader-photo {
  margin: 0 70px 0 0;
  padding: 0;
  box-sizing: border-box;
  width: 320px;
  height: 460px;
  object-fit: contain;
  object-position: bottom;
  background-color: #ff3f40;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.team__leader-info {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 930px;
  min-height: 230px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.team__leader-name {
  margin: 7px 0 17px;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.31;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  text-align: left;
  color: #000;
}

.team__leader-text {
  margin: 0 0 37px;
  padding: 0;
  box-sizing: border-box;
  max-width: 640px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  text-align: left;
  color: #000000;
}

.team__leader-links {
  margin: 0 0 25px;
  padding: 0;
  box-sizing: border-box;
  max-width: 930px;
  min-height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 29px;
}

.team__leader-link {
  margin: 0 0 31px;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
  line-height: 1.75;
  letter-spacing: 0.9px;
  text-align: left;
  color: #000000;
}

.team__leader-link:hover {
  color: #ff3f40;
  transition: 0.3s ease;
}

.team__members {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 930px;
  min-height: 230px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  align-items: baseline;
  justify-content: end;
  gap: 19px;
  list-style: none;
}

.team__member {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 199px;
  height: 214px;
  position: relative;
  background-color: #ff3f40;
}

.team__member-name {
  margin: 0;
  padding: 8px 0 0;
  box-sizing: border-box;
  width: 100%;
  height: 37px;
  position: absolute;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  visibility: hidden;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.31;
  letter-spacing: 0.17px;
  text-transform: uppercase;
  color: #ffffff;
}

.team__member:hover > .team__member-name {
  visibility: visible;
}

.team__member-photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
}

/* subscribe */
.subscribe {
  margin: 0 0 107px;
  padding: 0 1em;
  width: 100%;
  height: 512px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
}

.subscribe__heading {
  margin: 145px auto 13px;
  padding: 0;
  box-sizing: border-box;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.05px;
  color: #ffffff;
  text-align: center;
}

.subscribe__text {
  margin: 0 0 56px;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  text-align: center;
  color: #ffffff;
}

.subscribe__form {
  margin: 0;
  padding: 0 1em;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px;
}

.subscribe__input {
  margin: 0;
  padding: 8px 0 5px 36px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  width: 521px;
  height: 79px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #2c2c2c;
  cursor: text;
}

.subscribe__button {
  margin: 0;
  padding: 4px 0 0 0;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  width: 214px;
  height: 79px;
  background-color: #ff2d2d;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.89;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* contacts */
.contacts {
  margin: 0 0 127px;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 750px;
  display: flex;
  align-items: end;
  flex-wrap: wrap;
}

.feedback {
  margin: 0 104px 0 0;
  padding: 0;
  max-width: 755px;
  min-height: 770px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.feedback__heading {
  margin: -13px 0 30px;
  padding: 0;
  box-sizing: border-box;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.31;
  letter-spacing: 0.38px;
  text-transform: uppercase;
  text-align: left;
  color: #000;
}

.feedback__text {
  margin: 0 0 53px;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  text-align: left;
  color: #000000;
}

.feedback__hr {
  margin: 0 0 77px;
  padding: 0;
  border: none;
  box-sizing: border-box;
  width: 130px;
  height: 2px;
  background-color: #ff2d2d;
  align-self: baseline;
}

.feedback__form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.feedback__name {
  margin: 0 10px 0 0;
  padding: 10px 53px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 339px;
  height: 69px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  cursor: text;
}

.feedback__email {
  margin: 0;
  padding: 10px 45px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 339px;
  height: 69px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  cursor: text;
}

.feedback__message {
  margin: 0;
  padding: 27px 51px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 731px;
  height: 249px;
  resize: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  cursor: text;
}

.feedback__button {
  margin: 0;
  padding: 4px 0 0 0;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  width: 728px;
  height: 72px;
  background-color: #ff3b3b;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.89;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.contact__info {
  margin: 0;
  padding: 133px 0 0 78px;
  box-sizing: border-box;
  width: 390px;
  height: 481px;
  background-color: #2d2d2d;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.contact__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.89;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: #ffffff;
}

.contact__address {
  margin: 0;
  max-width: 300px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.contact__email {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.contact__phone {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.contacts::before {
  content: "";
  flex: 1 1 auto;
}

.contacts::after {
  content: "";
  flex: 1 1 auto;
  background-color: #2d2d2d;
  height: 481px;
}

/* footer */
.footer {
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
  min-height: 111px;
  background-color: #313030;
  display: flex;
}

.footer__content {
  margin: 16px auto 0;
  padding: 0;
  box-sizing: border-box;
  width: 1253px;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  margin: 0 3px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62;
  color: #b8b8b8;
}

.footer__socials {
  margin: 0 3px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 18px;
}

.footer__social {
  margin: 0;
  padding: 0;
  width: 33px;
  height: 33px;
}
